<% javascript "admin/item_create.js" %>

<ul class="menu">
  <li><%= button_to "ADMIN PAGE", admin_path, method: :get %></li>
  <li><%= button_to "BACK", admin_malone_tunes_path, method: :get %></li>
</ul>

<h2>Creating items on Freshbooks database</h2>

<%= content_tag "div", id: "tune_ids", data: { tune_ids: @tune_ids } do%>
	Tunes: <%= @tune_ids %>
<% end %>

<!-- <div id="tune_ids" data-ids="<%#= @tune_ids %>"> -->
	<!-- Tunes: <%#= @tune_ids %> -->
<!-- </div> -->

<%#= javascript_tag do %>
	<!-- window.tuneIDS = "<%#= @tune_ids %>"; -->
<%# end %>

