<h1>Admin Freshbooks Page</h1>
<div class="menu_bar">
	<ul>
		<li><%= link_to "HOME", "/admin" %></li>
		<li><%= button_to "Sync Freshbooks Items", "/admin/freshbooks/items_sync" %></li>
		<li><%= button_to "Create Freshbooks Item Create Webhook", "/admin/freshbooks/callback_item_create" %></li>
	</ul>
</div>
