<h1>Admin Freshbooks Page</h1>
<div class="menu_bar">
	<ul>
		<li><%= link_to "HOME", "/admin/freshbooks" %></li>
		<li><%= button_to "Sync Freshbooks Items", "/admin/freshbooks/items_sync" %></li>
	</ul>
</div>
