<div class="content">
	<%= image_tag("vw_field_photo.jpg", size: "600x245") %>
	<p class="statement">Complete specialized care for your TDI diesel powered VW or Audi.</p>

	<div class="text">
		<p>Full service TDI maintenance, repair and performance modification shop. Combining decades of experience with a passion for Volkswagen Automotive Group's turbo diesel engines and the cars they power to provide unparalleled quality of service. Whether it is a routine timing belt service or a custom engine build that generates more than 3X OE power, Skunkwerx has you covered.</p>

		<p>Now Louisville KY's exclusive Malone Tuning dealer. Tuning all TDIs 2000 to present including DSG transmission tunes!</p>
	</div>
</div>

<div class="footer">
  <p>All work by appointment only.</p>
  <p>All major credit cards accepted.</p>
  <p>Please contact for an appointment.</p>
</div>