<div class="banner">
	<h2>Skunkwerx</h2>
</div>

<div class="notice">
	<p>This site is currently under construction.</p>
</div>

<div class="main">
<%= image_tag("Skunkwerx Business Card.jpeg") %>
</div>