/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* START_HIGHLIGHT */
.admin_portal {
  border: 2px none pink;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0px;
  width: 850px; }

.notice {
  color: red; }

/* END_HIGHLIGHT */
table {
  border-collapse: collapse;
  width: 850px;
  border-top: 4px solid chocolate; }

td.list_actions {
  position: absolute; }
  td.list_actions a {
    position: relative;
    bottom: -15px; }

td.image {
  width: 400px;
  float: right;
  padding: left 80px; }

dl {
  width: 400px;
  padding-right: 50px; }

th {
  width: 400px;
  padding-left: 50px;
  padding-right: 100px; }

td {
  width: 900px;
  img-padding-left: 30px;
  img-padding-right: 30px; }

.list_line_odd {
  height: 380px;
  background: LightGray; }

.list_line_even td {
  height: 380px;
  background: silver; }
