body {
	background: GhostWhite;
}

table {
	border-collapse: separate;
	width: 850px;
	background-color: Gainsboro;
	padding-top: 3px;
	padding-left: 2px;
	padding-bottom: 3px;
	color: #2c0606;

	td.list_description {
		width: 450px;
	}
}

table.list_line_even {
	background: Silver;
	border: solid DimGray 3px;
	border-radius: 15px;
	margin-bottom: 10px;

	tr:last-child td {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

table.list_line_odd {
	border-radius: 15px;
	border: solid DimGray 3px;
	margin-bottom: 10px;

	tr:last-child td {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

table.stock {
	background: none;
	height: 100px;
	text-align: center;
	font-size: 150;
	border-radius: 15px;
}

td.list_description {
	border: solid DimGray 1px;
	border-radius: 10px;
}

td.graph img {
	display: block;
	margin: auto;
}

ul.menu {
	list-style-type: none;

	li {
		display: inline-block;
	}
}
