<div class="content">

	<div class="contact_details">
		<p>Phone: (502) 724-2605</p>
		<p>Email: &nbsp;<%= mail_to "dax@skunkwerx-performance.com" %></p>
		<p>Shop address: 3932 Southern Parkway, Louisville, KY 40214</p>
		<p>Shipping address: 1814 Bonnycastle Ave., Louisviille, KY 40205</p>
		<p class="bold">By appointment only.</p>
		<p>* Shop is accessed from alley only.
		From the Watterson Expressway turn left on W. Evelyn Ave.
		then turn right into first alley. Shop is second garage on the right,
		VWs always parked outside.</p>


		<p>Enter an address for directions to Skunkwerx Performance.</p>
	</div>

	<div class="get_address">
    <input id="address" type="textbox" value="">
    <input id="map_button" type="button" value="Get Directions">
  </div>

	<div id="map_canvas"></div>
	</div>

	<div id="directionsPanel">
	</div>

	<div class="footer">
	    <p>All work by appointment only.</p>
	    <p>All major credit cards accepted.</p>
	    <p>Please contact for an appointment.</p>
	</div>
</div>