/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* START_HIGHLIGHT */
body {
  background-color: black;
}

.main {
  border: 2px none pink;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0px;
  width: 1050px;
}

.banner {
  height: 0px;
  margin-top: 0px;
  margin-left: 14px;
}

.notice {
  margin-top: 145px;
  text-align: center;
  font-size: 21px;
  font-family: "nunito";
  font-weight: 100;
  color: #dee4d8;
  color: brown;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 250px;
  width: 500px;
  border: 2px solid DarkGoldenRod;
  border-radius: 20px;

  a[href^="mailto"] {
    color: DarkGoldenRod;
  }
}

.menu_bar {
margin-top: 121px;
  margin-left: 116px;
  margin-right: 0px;
  border: 2px none Aqua;

  li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 14px;
  }

  a {
    font-size: 18px;
    color: #A70301;
    font-family: "Nunito";
    text-decoration:none;
    border: 2px solid;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
  }

  a:hover {
    color: ivory;
  }
}

.side {
  position: absolute;
  border: 2px none green;
  margin-left: 1050px;
  height: 400px;
  color: pink;
  margin-top: 150px;
}

.content {
  position: relative;
  border: 2px none blue;
  left: 0;
  right: 0;
  margin: auto;
  width: 610px;
  margin-top: 0px;

  img {
    margin-top: 50px;
    margin-left: 0px;
    border: 3px solid DarkRed;
    border-radius: 20px;
    z-index: -1;
  }

  .statement {
    margin-top: 20px;
    margin-bottom: 40px;
    text-indent: 0px;
    font: 20px "Helvetica Neue", sans-serif;
    font-weight: 200;
    color: #FAF2EC;
    color: silver;
    letter-spacing: .5px;
    width: 700px;
  }

  .text {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 0px solid silver;
    border-right: 0px solid silver;

    p {
      text-indent: 0px;
      font: 20px "Helvetica Neue", sans-serif;
      font-weight: 200;
      letter-spacing: 1px;
      color: gray;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.footer {
  margin-top: 30px;
  margin-left: 120px;

  p {
    font: 14px "Helvetica Neue", sans-serif;
    font-weight: 200;
    color: DimGray;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* END_HIGHLIGHT */