	#notice {
		font: 20px "Helvetica Neue", sans-serif;
		font-weight: 200;
		color: #A70301;
	}

	#title {
		height: 90px;
	  font: 28px "Helvetica Neue", sans-serif;
	  font-weight: 200;
		color: #dee4d8;
	}

	.items {
		width: 530px;
		background: #202020;
		border-radius: 10px;
		padding: 0;

		table {
			border-collapse: collapse;

			.border {
				border-top: 2px solid Brown;
				vertical-align: top;
			}

			tr {
				font: 18px "Helvetica Neue", sans-serif;
				font-weight: 200;
				display: block;
				margin-left: 10px;
			}

			td {
				font: 18px "Helvetica Neue", sans-serif;
				font-weight: 200;
				color: #dee4d8;
			}

			td ul {
				list-style-type: none;
			}

			dl {
				width: 340px;
			}
		}
	}


