<div class="content" style="color:gray; text-align:center;">
  <br><br>
  <h1>Page Under Construction</h1>
  <h1>In the meantime, please click on this link for Malone Tuning's website</h1>
  <br>
</div>
  <div style="text-align:center;">
    <%= link_to image_tag("malone_tuning-10.jpg", size: "142x51"), "http://www.malonetuning.com/" %>
  </div>
</div>