<h1>Listing malone_tunes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @malone_tunes.each do |malone_tune| %>
      <tr>
        <td><%= link_to 'Show', malone_tune %></td>
        <td><%= link_to 'Edit', edit_malone_tune_path(malone_tune) %></td>
        <td><%= link_to 'Destroy', malone_tune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Malone tune', new_malone_tune_path %>
