<div class="items">
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>
	<div id="title">
		<p>Skunkwerx Products</p>
		<%= paginate @products %>
	</div>
	<table>
		<% cache(@products) do %>
			<% @products.each do |item| %>
				<% cache [item] do %>
					<%= render '/malone_tunes/item_default_image', item: item %>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>

