<tr>
	<% if line_item == @current_item %>
	<td id="current-item">
	<% else %>
	<td>
	<% end %>
		<%= line_item.quantity %>x
		<%= line_item.product.name if line_item.product %>
		<%= line_item.malone_tune.name if line_item.malone_tune %>
	</td>
</tr>